body{
    background-image: url(./images/background.jpg);
    background-repeat: repeat-y;
    backdrop-filter: blur(4px);
    height: 150%;
}

.navbar{
    z-index: 100;
}

.picture{
    display: inline-block;
    margin-top: 10%;

}

.content {
    position: absolute;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 80%;
    width: 100%;
}

.ol{
    list-style-position: inside;
}

.list-group-item{
    background:none;
}

.numbered{
    list-style-position: inside;
    display: list-item;
}

.h1{
    font-size: 2.1875rem;
}

.h2{
    border-top: 1px;
    font-size: 1.75rem;
}

.h3{
    font-size: 1.53125rem;
}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color:white;
}

#list-inline-wrapper {
    display: flex;
    justify-content: center;
}

#list-inline {
    overflow: auto;
    margin: 0;
    padding: 0;
}

#list-inline li {
    float: left;
    list-style-type: none;
}

#list-inline a {
    color: #3E3F3A
}